/* Body */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "JetBrains Mono", sans-serif;
    background-color: #2f4f2f;
    color: #39ff14;
}

/* Headings */

h1 {
    font-size: 250%;
    float: left;
    margin: 25px 0 50px 35px;
}

/* Navigation */

nav {
    display: inline-block;
    float: right;
    line-height: 75px;

}

#navigation li {
    float: right;
    margin: 15px;
    list-style-type: none;
}

#navigation a {
    color: #39ff14;
    text-decoration: none;
}


#navigation a:hover {
    color: #fafafa;
}

.active {
    border-bottom: 1px solid #fafafa;
}

/* landing image */

.landing-image {
    height: 450px;
    width: 100%;
    text-align: center;
    clear: both;
}

img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

/* Rules and table */

#rules {
    float: left;
    margin: 25px;
}

#rules ul {
    margin-left: 30px;
}

table,
th,
td {
    margin: 35px;
    width: 50%;
    border: 1px solid #39ff14;
    text-align: center;
}

/* footer */

footer {
    height: 30px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #39ff14;
}

.social-networks i:hover {
    color: #fafafa;
}

/* Game area and buttons */
.game-area {
    text-align: center;
    clear: both;
}

.choices {
    margin-top: 40px;
}

.bttn {
    width: 150px;
    height: 150px;
    font-family: "JetBrains Mono", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #2f2f2f;
    border-radius: 50%;
    box-shadow: 10px 10px #2f2f2f;
    margin: 15px;
}

.bttn:hover {
    color: #39ff14;
}

span {
    width: 40%;
    margin: 5%;
}

/* Hidden divs*/

#win {
    display: none;
    margin: 15px;

}

#lose {
    display: none;
    margin: 15px;
}

.result-message {
    color: red;
    text-align: center;
}

.result-message a {
    color: red;
    text-decoration: none;
}

.result-message a:hover {
    color: #fafafa;
}

/* Media queries */

@media screen and (max-width: 1100px) {
    .bttn {
        width: 90px;
        height: 90px;
    }

    h1 {
        font-size: 200%;
        margin: 25px 0 10px 35px;
    }

}

@media screen and (max-width: 970px) {
    h1 {
        font-size: 150%;
    }


    nav {
        margin-right: 38%;
        line-height: 0;
        margin-bottom: 30px;
    }


}

@media screen and (max-width: 675px) {
    h1 {
        font-size: 100%;
    }

    .choices h2 {
        font-size: 100%;
        margin: 10px;
    }

    .scores h2 {
        font-size: 100%;
        margin: 10px;
    }
}

@media screen and (max-width: 380px) {
    .bttn {
        margin: 5px;
    }

    .choices {
        margin-top: 5px;
    }

    .hero-image {
        height: 250px;
    }
}